/* Set up the runhead palette */
:root {
    --runheadlight-color:#585858;
    --runheaddark-color:#303030;
    --runheadgold-color:#FFCC00;
}


body {
  background-color: var(--runheaddark-color);
}

h1 {
  color: var(--runheadgold-color);
  font-size:10vw;
  margin-left: 20vw;
  font-family: "Open Sans", Helvetica, sans-serif;

}

p {
 color: var(--runheadgold-color);
  font-size:12px;
  line-height: 1.25;
  font-weight: lighter;
  margin-left: 1vw;
  font-family: "Open Sans", Helvetica, sans-serif;
}
@media (min-width: 641px) {
    p {
  color: var(--runheadgold-color);
  font-size:16px;
  font-weight: lighter;
  line-height: 1.4;
  margin-left: 6px;
  font-family: "Open Sans", Helvetica, sans-serif;
    }
}

/*p {
  color: var(--runheadgold-color);
  font-size:2vw;
  font-weight: lighter;
  margin-left: 2vw;
  font-family: "Open Sans", Helvetica, sans-serif;
}*/

a {
  color: yellow;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(0%);
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--runheadlight-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar & stick it to the top */
.topnav a {
  display:block;
  float: left;
  color: var(--runheadgold-color);
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-right: 1px solid var(--runheadgold-color);
  position: sticky;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--runheadlight-color);
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--runheadgold-color);
  color: var(--runheadlight-color);
}

/* Added this as a temporary rule while COVID is here, comment it out after*/
.topnav a:last-child {
  background-color: red;
  color: black;

}


/* Add a black background color to the top navigation */
.footnavbar {
  background-color: var(--runheadlight-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar & stick it to the top */
.footnavbar a {
  float: left;
  color: var(--runheadgold-color);
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-right: 1px solid var(--runheadgold-color);
  position: sticky;
}

/* Change the color of links on hover */
.footnavbar a:hover {
  background-color: var(--runheadlight-color);
  color: black;

}

/* Add a color to the active/current link */
.footnavbar a.active {
  background-color: var(--runheadgold-color);
  color: var(--runheadlight-color);
}



/*Base Mobile Layout*/
.wrap {
	width: 90%;
	margin: 0 auto;
}

#main-content, #sidebar-left, #sidebar-right {
	width: 100%;
	float: left;
}

/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
	.wrap {
		width: 1024px;
		margin: 0 auto;
	}
	
	#main-content {
		width: 70%;
		float: left;
	}
	
	#sidebar-left {
		width: 0%;
		float: left;
	}
	
	#sidebar-right {
		width: 25%;
		float: left;
	}
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
	.wrap {
		width: 1140px;
		margin: 0 auto;
	}
}












/* For the pace convertor tool */
input[type="number"]
{
    font-size:40px;
    width:48px;
}